main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h2 {
    text-align: center;
    margin: 20;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.product-detail {
    width: 50%;
    text-align: center;
}

.product-detail img {
    width: 100%;
}

li {
    margin: 10px;
}

