main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    margin: 20;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
}

.auction-detail ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
}

li {
    margin: 20px;
}

.product-detail img {
    width: 100%;
}

.product-list {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    width: 50%;
    height: 30%;
    overflow: auto;
    margin: 0 auto;
    list-style: none;
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 6px 6px;
}

#seconds {
    font-size: 3em;
    color: rgb(225, 0, 102)
}



/* JOIN AUCTION BUTTON */

.bid-btn {
    margin-top: 15px;
}

.btn a { 
    color: #000;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder;
    position: relative; 
    z-index: 1;
}

.btn a:hover { 
    color: #000;
}

.btn {
    border-radius: 50px;
    border: solid 6px #000;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    font-weight: 700;
    background-color: none;
    padding: 15px 20px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 460%;
    width: 85%;
    background: #fff;
    color: #000;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
  
.btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}




  

