header {
    display: flex;
    justify-content: space-between;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    box-shadow: 0 15px 15px rgba(0,0,0,0.20);
    align-items: center;
}


/* LOGO */
.logo {
    height: auto;
    margin-left: 3%;
    background-size: contain;
}

.logo img {
    max-width: 70%;
    height: auto;
}


/* PROFILE */
.profile-image {
    height: 50px;
    margin-right: 8px;
    border-radius: 50%;
}

.profile {
    display: flex;
    align-items: center;
    margin-right: 3%;
    color: #fff;
    font-size: 1em;
    font-weight: bolder;
    font-family: 'Unica One', cursive;
}

.profile span {
    display: block
}

.profile div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile button {
    margin-top: 5px;
    background: none;
    border: solid 2px #FFF;
    border-radius: 50px;
    padding-top: 3px;
    padding-bottom: 5px;
    color: #fff;
    font-weight: bolder;
}

.profile button:hover {
    background: #fff;
    color: #000;
}

.username-button > span {
    text-overflow: ellipsis;
    white-space: nowrap;
}



/* NAV BAR */
.nav-bar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: bolder;
}

.nav-bar li {
    float: left;
    list-style: none;
}

.nav-bar li a {
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
    font-size: 1.4em;
    font-family: 'Unica One', cursive;
}

.nav-bar li a:hover {
    background-color: #fff;
    border-radius: 50px;
    color: #000;
}

.nav-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-profile > div {
    padding: 3vw;
    text-align: center;
}

/*small: for phones tablets*/
@media only screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    header > div {
        padding: 2vw;
    }
}

/*large:laptops/small desktops*/
@media only screen and (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
 
    }
}