.about-title {
    text-align: center;
}

.social-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid white;
    flex-wrap: wrap;
}

.social-images img {
    width: 30%;
}

#social-link {
    border: 1px solid white;
    width: 50%;
    height: 50;
}

.avatar-on-hover img {
    border-radius: 100%;
    width: 80%;
    margin-bottom: 2%;
}

.about-person {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: flex-wrap;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FFF;
    width: 200px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 20px 20px;
    margin: 3px 3px;
}

.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.about-person div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 60%;
    overflow: auto;
    padding: 0;
    margin: 0 auto;
}

/* mobile style */
@media only screen and (max-width: 400px) {
    .about-container {
        display: flex;
        flex-direction: row;
    }
}