/* @import url('https://fonts.googleapis.com/css?family=Exo|Exo+2|Palanquin&display=swap');

body {
    font-family: 'Palanquin', sans-serif;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 3em;
}

h2 {
    font-family: 'Exo', sans-serif;
} */